---
layout: default
title: Home
---

<!-- Main Content -->
## Description {#description}

This document lists blockers and tracks conversations related to FOCIL. It is meant for researchers interested in contributing to its development.

## Properties {#properties}

- Commitee-based: 16 committee members create inclusion lists.
- Size: Each local inclusion list is at most 8 kilobytes each. There could be around 40 average sized transactions in each local inclusion list so around 640 average sized transactions in all inclusion lists. A block contains around 100-200 transactions.
- Conditional: Transactions in inclusion lists do not constrain the beacon block validity if the execution payload is full.
- Same-slot: Transactions in inclusion lists created in slot N constrain the validity of the beacon block in slot N.
- Unordered: Transactions in inclusion lists do not impose ordering constraints on the execution payload.
- Anywhere-in-block: Transactions in inclusion lists could be included anywhere in the execution payload.
- Expiring: Transactions in inclusion lists created in slot N only constrain the validity of the beacon block in slot N and do not constrain the validity of later beacon blocks.

## Resources {#resources}

- [**Fork-Choice enforced Inclusion Lists (FOCIL)**](https://ethresear.ch/t/fork-choice-enforced-inclusion-lists-focil-a-simple-committee-based-inclusion-list-proposal/19870): A simple committee-based inclusion list proposal: The initial proposal of FOCIL.
- [**FOCIL CL and EL Workflow**](https://ethresear.ch/t/focil-cl-el-workflow/20526): Outline of the latest FOCIL implementation, defines the roles and duties of IL committee members, nodes, proposers, and attesters. We also address potential edge cases (e.g., equivocation, invalidation) and how to mitigate them.
- [**FOCIL Resource Design Considerations**](https://hackmd.io/@ttsao/focil-resource-considerations#Proposer-Edge-Case): The resources FOCIL demands throughout an Ethereum slot.
- [**On Multi-proposer Gadgets and Protocols**](https://hackmd.io/xz1UyksETR-pCsazePMAjw): A note comparing FOCIL and BRAID, a multiple concurrent proposer design, on their properties and stages of research and development.
- [**Block construction session**](https://www.notion.so/bd611621250f45948eff05fcf6a34067?pvs=21): A note placing FOCIL in the context of various block construction mechanisms such as ePBS and APS.
- [**EIP-7805: Fork-choice enforced Inclusion Lists (FOCIL)**](https://eips.ethereum.org/EIPS/eip-7805): Allow a committee of validators to force-include a set of transactions in every block.

## FOCIL Gallery {#focil-gallery}

This gallery contains notes with problem statements of various subproblems related to FOCIL.

<!-- Gallery -->
<section>
    <div class="section-title">
        <h2><span>Problems</span></h2>
    </div>
    <div class="row listrecent">
        {% for post in paginator.posts %}
            {% include postcard.html %}
        {% endfor %}
    </div>
</section>

<!-- Pagination -->
<!-- Draw all posts in one page for simplicity.
<div class="bottompagination">
    <div class="pointerup"><i class="fa fa-caret-up"></i></div>
    <span class="navigation" role="navigation">
        {% include pagination.html %}
    </span>
</div>
-->