<div class="col-lg-4 col-md-6" style="margin-top: 0.6rem; margin-bottom: 0.6rem;">
    <div class="card h-100">
        <div class="card-image">
            <a href="{{ site.baseurl }}{{ post.url }}">
                {% if post.thumbnail %}
                    <img class="img-fluid d-none d-md-block" src="{{ site.baseurl }}/{{ post.thumbnail }}" alt="{{ post.title }}"> 
                {% endif %}
            </a>
        </div>
        <div class="card-body">
            <h2 class="card-title">
                <a class="text-dark" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </h2>
            <h4 class="card-excerpt">
                <a class="text-dark" href="{{ site.baseurl }}{{ post.url }}">{{ post.excerpt | strip_html | truncatewords:50 }}</a>
            </h4>
        </div>
    </div>
</div>
